<!DOCTYPE html>
<html>
<head>
    <title>Fake Auth</title>
    <!-- <link rel="stylesheet" href="/_/style.css" /> -->
</head>
<body>
    <div>
        <p>Användare utloggad.</p>
    </div>
</body>
</html>